.dark_theme {
  --bgColorPrimary: #212529;
  --bgColorSecondary: #2a2f34;
  --textColorPrimary: #adbac7;
  --textColorSecondary: rgba(255, 255, 255, 0.76);
  --borderColor: rgba(255, 255, 255, 0.295);
  --buttonBgColor: #adbac7;
  --toggleIconColor: white;
  --hoverColor: #adbac7;
  --activeButtonColor: #1cbc71;
  --activeCircle: white;
  --badgeTagColor: #adbac7;
}

.light_theme {
  --bgColorPrimary: white;
  --bgColorSecondary: #f3f3f3;
  --textColorPrimary: #333;
  --textColorSecondary: black;
  --borderColor: rgba(0, 0, 0, 0.5);
  --buttonBgColor: #adbac7;
  --toggleIconColor: yellow;
  --hoverColor: rgba(207, 207, 207, 0.486);
  --activeButtonColor: #1cbc71;
  --activeCircle: white;
  --badgeTagColor: #d1d1d1b7;
}
